button.list{
    width: calc(20vw - 20px);
    height: calc(20vh - 20px);
    border-radius: 10%;
    transition: all 250ms ease-in-out;
    margin: 15px;
    padding: 15px;
}

button.list:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 25px rgb(27, 27, 27);
    /* transform: translateY(-5px); */
}

p.list-title{
    font-size: 20px;
    font-weight: 600;
}

span.list-number{
    transform: none;
    background-color: transparent;
    font-size: 45px;
    font-weight: bold;
    float: right;
    padding: 0;
}