li{
    display: flex;

}
section.input ul{
    display: flex;
    flex-direction: column;
    margin: 25px 0 50px 0;
}

section.input li{
    border-bottom: 0.5pt solid #ffffffd0;
    padding: 45px 0 10px 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
section.input input{
    background-color: transparent;
    border: none;
    width: 200px;
    margin: 0 0 0 15px;
    font-size: 1.1em;
    text-align: end;
}
section.input label{
    font-size: 1.35em;
}